<header class="header">
  <div class="left-menu">
    <div class="header-logo">
      <%= link_to image_tag("logo.jpg"), root_path %> 
    </div>
    <nav class="dropdown-nav">
      <%= link_to t("header.jobs"), jobs_path %>
      <%= link_to t("header.companies"), companies_path %>
    </nav>
  </div>

  <nav class="header-nav">
    <% unless logged_in? %>
      <%= link_to t("header.for_employers"), enterprise_login_path %>
    <% end %>
    <% if logged_in? %>
      <%= render "shared/notification" %>
      <div class="dropdown header-username ms-3" id="header-dropdown">
        <div class="dropdown-toggle" data-toggle="dropdown">
          <%= current_user.full_name %>
          <b class="caret"></b>
        </div>
        <ul class="dropdown-menu" id="dropdown-menu">
          <li class="dropdown-link"><%= link_to t("header.profile"), user_path(id: current_user.id), class: "d-block w-100" %></li>
          <li class="dropdown-link"><%= link_to t("header.settings"), "#", class: "d-block w-100" %></li>
          <li class="divider"></li>
          <li class="dropdown-link"><%= link_to t("header.logout"), logout_path, data: { turbo_method: :delete }, class: "d-block w-100" %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to t("header.login"), login_path, class: "btn-login" %>
    <% end %>
    <div class="switch-language">
      <%= link_to "EN", switch_language_path(locale: "en") %>
      <div class="separator">|</div>
      <%= link_to "VI", switch_language_path(locale: "vi") %>
    </div>
  </nav>
</header>
